/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
  --darkgrey: #737373;
  --navbar-buttonshadow: #b4b4b4;
  --medgrey: #e0e0e0;
  --lightgrey: #DAD9D9;
  --lightergrey: #ECECEB;
  --blackgrey: #424242;
  --create-cont-color: var(--white);
  --create-cont-shadow: #E7E7E7;
  --underline-color: var(--lightgrey);
  --grey: #f7f7f7;
  --white: #fff;
  --appbg: #fff;
  --tilegreen: #70B25C;
  --tilegreenshadow: #699B5A;
  --tileyellow: #fec637;
  --tileyellowshadow: #e6b334;
  --bgwhite: #F7F4F4;
  --tilewhite: #FFFFFF;
  --bannergrey: #E1E1E1;
  --tilegrey: #ABA5A3;
  --tilegreyshadow: #7f7a79;
  --letterwhite: #FFFFFF;
  --keytilewhite: #D6CFCD;
  --keytilewhiteshadow: #c4bfbd;
  --lettergrey: var(--tilegrey);
  --tilewhiteshadow: rgb(199, 198, 198);
  --textcolor: rgb(0, 0, 0);

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --navvh: 10vh;
  --vh: 90vh;
  --vhh: 45vh;
  --vw: 100vw;

  --howto: url("/client/src/public/howto-light.png");
  --settings: url("/client/src/public/settings-light.png");
  --or: url("/client/src/public/or-light.png");
  --stats: url("/client/src/public/stats-light.png");
  --kex: url("/client/src/public/Keyboardex.png");
}

.dark-mode {
  --appbg: var(--blackgrey);
  --bgwhite: #2C2C2C;
  --tilegreen: #3a8b38;
  --tilegreenshadow: #347d32;
  --tileyellow: #b59625;
  --tileyellowshadow: #a38722;
  --create-cont-color: var(--lightergrey);
  --create-cont-shadow: #DADADA;
  --underline-color: var(--blackgrey);
  --navbar-buttonshadow: var(--darkgrey);
  --letterwhite: #000000;
  --tilewhiteshadow: rgb(27, 27, 27);
  --textcolor: #fff;
  --keytilewhite: #616161;
  --keytilewhiteshadow: rgb(74, 74, 74);

  --howto: url("/client/src/public/howto-dark.png");
  --settings: url("/client/src/public/settings-dark.png");
  --or: url("/client/src/public/or-dark.png");
  --stats: url("/client/src/public/stats-dark.png");
}

.high-contrast {
  --tilegreen: #f5793a;
  --tilegreenshadow: #dc6d34;
  --tileyellow: #509ce5;
  --tileyellowshadow: #488cce;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.App-Container{ 
  width: var(--vw);
  height: var(--vh);
  background-color: var(--appbg);
  display: flex;
  justify-content: center;
  overflow: hidden;
  overscroll-behavior: contain;
  align-items: stretch;
}

body {
  background-color: var(--bgwhite);
  position: relative;
  width: 700px;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}