.Play-Container{
    display: flex;
    height: var(--vh);
    width: var(--vhh);

    background-color: var(--bgwhite);
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    min-width: 460px;
}
.Play-BoardContainer{
    display: flex;
    justify-content:center;
    overflow: hidden;
    align-items: center;
    flex-grow: 8;
    /*
    may change later for larger screen sizes 
    */
}
.Play-Board{
    display: grid;
    width: 315px;
    height: 430px;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.Play-Row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
.Play-KeyboardContainer{
    display: flex;
    height: 30%;
    width:100%;
    justify-content: center;
}

.Play-KeyTile{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--keytilewhite);
    box-shadow: 0 4px 0 0 var(--keytilewhiteshadow);
    font-family: "Nunito";
    font-weight: bolder;
    border-radius: 10%;
    opacity: 100%;
    height: 45px;
    width: 35px;
    transition: background-color 0s, box-shadow 0s, color 0s;
    transition-delay: 2.5s;
}

.Play-Tile{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--letterwhite);
    box-shadow: 0 5px 0 0 var(--tilewhiteshadow);
    font-family: "Nunito";
    color: black;
    font-size:x-large;
    font-weight: 1000;
    border-radius: 10%;
    opacity: 100%;
    transition: background-color 1s, box-shadow 1s, color 0s;
}
.Play-Tile:checked{
    background-color: var(--tilegrey);
}

@keyframes color-change{
}

.Green{
    background-color: var(--tilegreen);
    box-shadow: 0 4px 0 0 var(--tilegreenshadow);
    color: white;
}

.Yellow{
    background-color: var(--tileyellow);
    box-shadow: 0 4px 0 0 var(--tileyellowshadow);
    color: white;
}

.Grey{
    background-color: var(--tilegrey);
    box-shadow: 0 4px 0 0 var(--tilegreyshadow);
    color: white;
}
.Active{
    opacity: 100%
}

.Inactive{
    background-color: var(--letterwhite);
    opacity: 50%;
}

.Play-Keyboard1{
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.Play-Keyboard{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: fit-content;
    justify-content:center;
    align-items: center;
}

.Play-KeyboardRow1{
    display: grid;
    grid-template-columns: repeat(10, 36px);
    grid-gap: 5px;
    padding: 5px;
}

.Play-KeyboardRow2{
    display: grid;
    grid-template-columns: repeat(9, 36px);
    grid-gap: 5px;
    padding: 5px;
}

.Play-KeyboardRow3{
    display: grid;
    grid-template-columns: 1fr repeat(7, 36px) 1fr;
    grid-gap: 5px;
    padding: 5px;
}

.Enter{
    width: 55px;
}

.Back{
    width: 55px;
}

.Play-KeyTile:hover{
    transition-delay: -2.5s ;
}

.Play-KeyTile:active{
    background-color: var(--tilegrey);
    box-shadow: 0 4px 0 0 var(--tilegreyshadow);
}

@keyframes tileclick{
    50%{
        background-color: var(--tilegrey);
    }
    100%{
        background-color: var(--keytilewhite);
    }
}

.Play-TileVictory{
    animation: bounce .75s;
}

@keyframes pulse-color {
    0% {
      transform: scale(1);
      box-shadow: 0 4px 0 0 var(--tilegreenshadow);
    }
    
    50% {
      transform: scale(1.05);
      box-shadow: 0 4px 0 .5px var(--tilegreenshadow);
    }
    
    100% {
      transform: scale(1);
      box-shadow: 0 4px 0 0 var(--tilegreenshadow);
    }
  }

  @keyframes pulse-tile {
    0% {
      transform: scale(1);
      box-shadow: 0 4px 0 0 var(--tilewhiteshadow);
    }
    
    50% {
      transform: scale(1.05);
      box-shadow: 0 4px 0 .5px var(--tilewhiteshadow);
    }
    
    100% {
      transform: scale(1);
      box-shadow: 0 4px 0 0 var(--tileehiteshadow);
    }
  }

.wiggle {
    animation: wiggle 150ms 4;
    animation-timing-function: linear;
}

@keyframes wiggle {
    0% { transform: translate(4px, 0); }
    50% { transform: translate(-4px, 0); }
    100% { transform: translate(4px, 0); }
}

@keyframes bounce {
    0% { transform: translate(0, 0); }
    50% { transform: translate(0, -4px); }
    100% { transform: translate(0, 0); }
}
