.Play-Container{
    display: flex;
    height: var(--vh);
    width: var(--vhh);

    background-color: var(--bgwhite);
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.Play-Spacing{
    height: 12.5%;
    max-height: 60px;
}
.Play-Board{
    display: flex;
    flex-direction: column;
    height: 70%;
    width:80%;
    justify-content: flex-start;

}
.Play-Row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12.5%;
    max-height: 60px;
    padding: 1%;
}
.Play-Keyboard{
    display: flex;
    height: 30%;
    width:100%;
}

.Play-Tile{
    width: 15%;
    max-width: 57px;
    height:100%;
    background-color: var(--letterwhite);
    box-shadow: rgb(0, 0, 0) ;
    font-family: sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 5%;
    margin-right: 1%;
    margin-left: 1%;
    
}

.Play-Tile div{

}

.Play-KeyTile{

}