/* Fill me in :) */
#intro {
    background-color: var(white);
    height: 110vh;
    display: flex;
}

#features {
    background-color: var(--white);
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: -20%;
}

.featuresTitle {
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    font-weight: bold; 
    color: #475149; 
    font-size: 52pt;
    line-height: 65px;
    margin-top: 12%;
    text-align: center;
}

#forest {
    background-image: url("../../public/blur_edges.png");
    min-width: 100vw;
    background-repeat: no-repeat;
    min-height: 120vh;
    display: flex;
    min-width: 100vw;
    background-size: cover;
    position: relative;
    left:50%;
    transform: translate(-50%,-20%);    
}

.leftContainer {
    margin-top: 100px;
    margin-left: -50px;
    float: left;
    width: 600px;
}

.titleText {
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    font-weight: bold; 
    color: #475149; 
    margin-bottom: 35px;
    font-size: 52pt;
    line-height: 65px;
    margin-top: 10px;
    padding-top: -10%;
}

.forestText {
    font-family: 'Inter', sans-serif;
    text-align: right;
    letter-spacing: -1px;
    font-weight: bold; 
    color: #475149; 
    font-size: 52pt;
    line-height: 75px;
    margin-bottom: 0px;
    padding: 0px;
    height: 200px;
    margin-left: 40%;
    margin-top: 8%;
    margin-right: 3%;
}

.bodyText {
    font-family: 'Poppins', sans-serif;
    font-weight: normal; 
    color: #475149; 
    margin-bottom: 0px;
    font-size: 12pt;
    font-weight: 300px;
}

.featuresText {
    font-family: 'Poppins', sans-serif;
    font-weight: normal; 
    color: #475149; 
    font-size: 12pt;
    font-weight: 300px;
    margin-top: 4%;
    line-height: 20px;
    letter-spacing: 0px;
    margin-left: 7%;
    margin-right: 7%;
}

.featuresTextBolded {
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    font-weight: 600; 
    letter-spacing: 0.5px;
    color: #475149; 
    font-size: 14pt;
    
    margin-top: 10%;
    line-height: 20px;
}

.One {
    margin-left: 24%;
    margin-right: 0;
}

.Two {
    margin-left: 12%;
    margin-right: 12%;
}

.Three {
    margin-left: 0%;
    margin-right: 24%;
}

.forestBody {
    font-family: 'Poppins', sans-serif;
    font-weight: normal; 
    color: #475149; 
    margin-bottom: 0px;
    font-size: 12pt;
    font-weight: 300px;
    margin-top: 4%;
    line-height: 20px;
    letter-spacing: 0px;
    margin-left: 54%;
}

.header {
    margin-top: 13%;
    display: flex;
    justify-content: space-between;
  }
  
  .header-item {
    height: 200px;
    flex: 1;
    width: 50%;
  }

  .header-one {
      flex:1;
  }

  .header-two {
      flex:1.25;
  }

  .SubmitButton {
    background: rgba(93, 110, 97, 1);
	border-radius: 5px;
	height: 40px;
	width: 380px;
    line-height: 40px;
    display: block;
    text-align: center;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: var(--white); 
    margin-top: 40px;
    box-shadow: 0 0 0 0 rgba(93, 110, 97, 1);
	transform: scale(1);
	animation: pulse-dark 2s infinite;
    text-decoration: none
}

#bolded {
    font-weight: 900;
    color: var(--primary);
}

#Fix {
    font-weight: normal; 
    font-size: 12pt;
    letter-spacing: 0px;
    margin-top: 10%;
}

.SubmitButton:hover {
    color: var(--white);
    text-decoration: none;
	animation: none;
}

@keyframes pulse-dark {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(93, 110, 97, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(93, 110, 97, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(93, 110, 97, 0);
    }
  }

  .acai {
       /* make it responsive */
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  background-image: url("../../public/acai.png");

  margin-left: 30px;
  margin-bottom: 50px;
  margin-top:-30px;
  }

  .cursed {
    /* make it responsive */
width: 100%;
height: auto;
display: block;
/* div height to be the same as width*/
padding-top: 100%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimension to fill div */
background-size: cover;

background-image: url("../../public/cursed.jpg");

margin-left: 30px;
margin-bottom: 50px;
margin-top:-30px;
}

.first {
    width: 100%;
    height: 100%;
    background-size: cover;
background-image: url("../../public/first.png");
justify-content: right;
border-radius: 50%;
box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);

}

.firstContainer {
    width: 225px;
    height: 225px;
    justify-content: right;
    transform: translateX(32%);
    
}

.second {
    width: 100%;
    height: 100%;
    background-size: cover;
background-image: url("../../public/second.png");
justify-content: right;
border-radius: 50%;
box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);

}

.secondContainer {
    width: 225px;
    height: 225px;
    justify-content: right;
    margin-left: 12%;
    margin-right: 12%;
}


.third {
    width: 100%;
    height: 100%;
    background-size: cover;
background-image: url("../../public/third.png");
justify-content: center;
align-items: center;
border-radius: 50%;
box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);

}

.thirdContainer {
    width: 225px;
    height: 225px;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
}


.tools {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
  }
  
  .tool-item {
    height: 320px;
    flex: 1;
  }

  .navContainer {
    width: 125px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    display: inline-block;
  }
  
  .photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../public/ZD6HV.png");
    justify-content: center;
    align-items: center;
    display: inline-block;
    transform: translateY(-25%);
  }