#container {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    background-color: var(--bgwhite);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#but {
    display: flex;
    flex-shrink: 1;
}

.font {
    font-family: 'Manrope';
    letter-spacing: 1px;
    color: #B0AFAF;
    font-size: 200px;
}

.orContainer {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 175px;
    height: 43px;
}

.or {
width: 100%;
  height: 100%;
  display: block;

  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  background-size: cover;

  background-image: url("../../public/or.png");
}