/* Fill me in :) */


body {
    background-color: #ECE8E6;
    position: relative;
    width: 700px;
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
}