.startButton {
    background: #70B25C;
	border-radius: 12px;
    display: flex;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
    color: var(--white); 
    box-shadow: 0 6.5px 0 0 #6FA55F;
	transform: scale(1);
    justify-content: center;
}

.szLarge {
    width: 450px;
    height: 60px;
    line-height: 63px;
    font-size: 30px;
}

.sz {
    width: 80vw;
    height: 8vh;
    line-height: 9vh;
    font-size: 25px;
}

.szSmall {
    width: 80vw;
    height: 8vh;
    line-height: 9vh;
    font-size: 20px;
}

.startButton:hover {
    color: var(--white);
    text-decoration: none;
	animation: pulse-dark 2s infinite;
    cursor: pointer;
}

.wiggle {
    animation: wiggle 150ms 4;
    animation-timing-function: linear;
}

@keyframes wiggle {
    0% { transform: translate(4px, 0); }
    50% { transform: translate(-4px, 0); }
    100% { transform: translate(4px, 0); }
}

@keyframes pulse-dark {
    0% {
      transform: scale(0.95);
    }
    
    70% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(0.95);
    }
  }

  .modalDef {
      justify-content: center;
      text-align: center;
      
  }
  
  .modal-content {
    background: #ECE8E6;
    height: 40vh;
  }

  .joinModal-Header {
    
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 5vh;
    color: #737373; 
    position: relative;
}

.jMHeaderSz {
    font-size: 30px;
}

.jMHeaderSzSmall {
    font-size: 25px;
}

.jMHeaderSzSmaller {
    font-size: 17px;
}

.joinModal-Underline {
    width: 70px;
    height: 3px;
    background-color: #70B25C;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.joinInp {
    font-family: 'Manrope', sans-serif;
    text-align: 'left';
    padding: .5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.inpSizeDefault {
    width: 270px;
}

.inpSizeSmall {
    width: 80vw;
}

.inpSizeSmaller {
    width: 70vw;
}

.redirButton {
    background: #70B25C;
	border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
    color: var(--white); 
    box-shadow: 0 4px 0 0 #6FA55F;
	transform: scale(1);
    justify-content: center;
    margin-bottom: 30px;
}

.szLargeR {
    width: 100px;
    height: 30px;
    line-height: 32px;
    font-size: 16px;
}

.sz {
    width: 80vw;
    height: 8vh;
    line-height: 9vh;
    font-size: 25px;
}

.redirButton:hover {
    color: var(--white);
    text-decoration: none;
	animation: pulse-dark 2s infinite;
    cursor: pointer;
}

.howToButton {
    margin-left: 30px;
    display: flex;
    box-shadow: 0 4px 0 0 #b4b4b4;
    border-radius: 7px;
    height: 40px;
    width: 40px;

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-size: cover;

    background-image: url("../../public/howto3.png");
}

.howToButton:hover {
	animation: pulse-dark 2s infinite;
    cursor: pointer;
}

.settingsButton {
    margin-right: 30px;
    display: flex;
    box-shadow: 0 4px 0 0 #b4b4b4;
    border-radius: 7px;
    height: 40px;
    width: 40px;

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-size: cover;

    background-image: url("../../public/settings2.png");
}

.settingsButton:hover {
	animation: pulse-dark 2s infinite;
    cursor: pointer;
}