.startButton {
    background: var(--tilegreen);
	border-radius: 12px;
    display: flex;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
    color: var(--white); 
    box-shadow: 0 6.5px 0 0 var(--tilegreenshadow);
	transform: scale(1);
    justify-content: center;
}

.szLarge {
    width: 450px;
    height: 60px;
    line-height: 63px;
    font-size: 30px;
}

.sz {
    width: 80vw;
    height: 8vh;
    line-height: 9vh;
    font-size: 25px;
}

.szSmall {
    width: 80vw;
    height: 8vh;
    line-height: 9vh;
    font-size: 20px;
}

.startButton:hover {
    color: var(--white);
    text-decoration: none;
	animation: pulse-dark 2s infinite;
    cursor: pointer;
}

.wiggle {
    animation: wiggle 150ms 4;
    animation-timing-function: linear;
}

@keyframes wiggle {
    0% { transform: translate(4px, 0); }
    50% { transform: translate(-4px, 0); }
    100% { transform: translate(4px, 0); }
}

@keyframes pulse-dark {
    0% {
      transform: scale(0.95);
    }
    
    70% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(0.95);
    }
  }

  .modalDef {
      justify-content: center;
      text-align: center;
  }
  
  .modal-content {
    background: var(--bgwhite);
    height: 40vh;
  }

  .joinModal-Header {
    
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 5vh;
    color: var(--darkgrey); 
    position: relative;
}

.jMHeaderSz {
    font-size: 30px;
}

.jMHeaderSzSmall {
    font-size: 25px;
}

.jMHeaderSzSmaller {
    font-size: 17px;
}

.joinModal-Underline {
    width: 70px;
    height: 3px;
    background-color: var(--tilegreen);
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.joinInp {
    font-family: 'Manrope', sans-serif;
    text-align: 'left';
    padding: .5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.inpSizeDefault {
    width: 270px;
}

.inpSizeSmall {
    width: 80vw;
}

.inpSizeSmaller {
    width: 70vw;
}

.redirButton {
    background: var(--tilegreen);
	border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
    color: var(--white); 
    box-shadow: 0 4px 0 0 var(--tilegreenshadow);
	transform: scale(1);
    justify-content: center;
    margin-bottom: 30px;
}

.szLargeR {
    width: 100px;
    height: 30px;
    line-height: 32px;
    font-size: 16px;
}

.sz {
    width: 80vw;
    height: 8vh;
    line-height: 9vh;
    font-size: 25px;
}

.redirButton:hover {
    color: var(--white);
    text-decoration: none;
	animation: pulse-dark 2s infinite;
    cursor: pointer;
}

.howToButton {
    margin-left: 30px;
    display: flex;
    box-shadow: 0 3px 0 0 var(--navbar-buttonshadow);
    border-radius: 7px;
    height: 40px;
    width: 40px;

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-size: cover;

    background-image: var(--howto);
}

.howToButton:hover {
	animation: pulse-dark 2s infinite;
    cursor: pointer;
}

.settingsButton {
    margin-right: 30px;
    display: flex;
    box-shadow: 0 3px 0 0 var(--navbar-buttonshadow);
    border-radius: 7px;
    height: 40px;
    width: 40px;

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-size: cover;

    background-image: var(--settings);
}

.settingsButton:hover {
	animation: pulse-dark 2s infinite;
    cursor: pointer;
}

.settings-row {
    margin: 5px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

.settings-row-1 {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: var(--darkgrey);
    align-self: center;
}

.settings-row-2 {
    display: flex;
    flex-grow: 1;
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    color: var(--darkgrey);
    align-self: center;
    justify-content: right;
}

.settings-row-size-def {
    width: 400px;
    height: 41px;
    gap: 10px;
}

.settings-modalDef {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-inp {
	visibility: hidden;
}

label {
    align-self: center;
	cursor: pointer;
	width: 43px;
	height: 25px;
	background: var(--darkgrey);
	border-radius: 50px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3.5px;
	left: 4px;
	width: 18px;
	height: 18px;
	background: var(--white);
	border-radius: 34px;
	transition: 0.3s;
}

.settings-inp:checked + label {
	background: var(--tilegreen);
}

.settings-inp:checked + label:after {
	left: 39px;
	transform: translateX(-100%);
}