.modalDef {
  text-align: center;
}

.width {
  width: 380px;
}

.modalTitle {
  font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    font-weight: bold; 
    color: #475149; 
    font-size: 25pt;
    text-align: center;
}

.modalHeading {
  font-family: 'Inter', sans-serif;
    
    font-weight: 400px; 
    color: #475149; 
    text-align: center;
}

.AddDetailsMeat {
    background: #ffffff;
	border-radius: 5px;
	height: 40px;
	width: 380px;
    line-height: 40px;
    display: block;
    text-align: center;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: #475149; 
    margin-bottom: 30px;
}

.modal-content {
    background-color: #D9E2DC;

  }

.AddDetailsMeat {
    box-shadow: 0 0 0 0 rgba(#ffffff, 1);
	transform: scale(1);
	animation: pulse-white 2s infinite;
}

.AddDetailsMeat:hover {
	animation: none;
}

@keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  
  .StartButton {
    background: rgba(93, 110, 97, 1);
	border-radius: 5px;
	height: 40px;
	width: 380px;
    line-height: 40px;
    display: block;
    text-align: center;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: var(--white); 
    margin-top: 40px;
    box-shadow: 0 0 0 0 rgba(93, 110, 97, 1);
	transform: scale(1);
	animation: pulse-dark 2s infinite;
    text-decoration: none;
    justify-content: left;
}

.StartButton:hover {
    color: var(--white);
    text-decoration: none;
	animation: none;
}

@keyframes pulse-dark {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(93, 110, 97, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(93, 110, 97, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(93, 110, 97, 0);
    }
  }

.loginModal-Header {
    
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 40px;
    color: #475149; 
    font-size: 30px;
}

.loginModal-Underline {
    width: 70px;
    height: 3px;
    background-color: var(--primary);
    justify-content: center;
    text-align: center;
    margin-left: 50%;
    left: -35px;
    position: relative;
}

.inLoginModal {
  margin-top: 8%;
  position: relative;
  margin-bottom: 40px;
}