.Nav-Container{
    display:flex;
    width: 100vw;
    height: var(--navvh);
    background-color: var(--bgwhite);
    border-bottom: 10pt;
    border-color: var(--tilewhite);
    display:flex;
    justify-content: center;
}

.Nav-icon{

}

.Nav-Logo{

}