.Nav-Container{
    display:flex;
    width: 100vw;
    height: var(--navvh);
    background-color: var(--bgwhite);
    border-bottom: 10pt;
    border-color: var(--tilewhite);
    display:flex;
    justify-content: center;
    align-items: center;
}

.Nav-icon{

}

.Nav-Logo{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--keytilewhite);
    box-shadow: 0 4px 0 0 var(--tilegrey);
    border-radius: 20%;
    opacity: 100%;
    height: 80%;
    width: 30px;
    margin: 2px;
    color: #ffff;
}

.green{
    background-color: var(--tilegreen);
    box-shadow: 0 4px 0 0 var(--tilegreenshadow);
}

.yellow{
    background-color: var(--tileyellow);
    box-shadow: 0 4px 0 0 var(--tileyellowshadow);
}