.Nav-Container{
    display:flex;
    width: 100vw;
    height: 80px;
    background-color: var(--white);
    border-bottom: 10pt;
    border-color: var(--tilewhite);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.Nav-icon{
    width: 700px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--bgwhite);
    border-bottom: 1.5px solid #DAD9D9;

}

.Nav-Logo{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--keytilewhite);
    box-shadow: 0 4px 0 0 var(--tilegrey);
    border-radius: 7px;
    opacity: 100%;
    height: 100%;
    width: 38px;
    color: #ffff;
    font-family: 'Nunito', 'sans-serif';
    font-size: 17px;
    font-weight: 700;
    padding-top: 2px;
    
    
}

.anothercont {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 3px;
    width:700px;
    align-items: stretch;
    height: 38px;

}

.green{
    background-color: var(--tilegreen);
    box-shadow: 0 4px 0 0 var(--tilegreenshadow);
}

.yellow{
    background-color: var(--tileyellow);
    box-shadow: 0 4px 0 0 var(--tileyellowshadow);
}