.Stats-container{
    border: var(--darkgrey) 0px solid;
    padding: 18px;
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    border-radius: 5px;
    
}

.Stats-underline {
    width: 70px;
    height: 3px;
    background-color: var(--primary);
    justify-content: center;
    text-align: center;
    margin-left: 85px;
    position: relative;
    margin-bottom: 20px;
}

.Stats-labels{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #475149; 
}

.Stats-title{
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    color: #475149; 
}

.Stats-data{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: var(--primary); 
    font-weight: 600;
    padding: 10px;
}

.Stats-box{
    padding: 30px;
}

.centering {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    display: flex;
  justify-content: center;
}

.range {
    text-align: center;
    place-items: center;
    display: inline-block;
}

.Journey-Header-Sama {
    transform: translateY(25%);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 40px;
    color: #475149; 
    font-size: 30px;
}

.Journey-Underline-Sama {
    width: 70px;
    height: 3px;
    background-color: var(--primary);
    justify-content: center;
    text-align: center;
    margin-left: 50%;
    left: -35px;
    position: relative;
    transform: translateY(300%);
}

.Journey-Button {
    background: rgba(93, 110, 97, 1);
    border-radius: 5px;
    height: 40px;
    width: 380px;
    line-height: 40px;
    display: block;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--white); 
    margin-top: 40px;
    box-shadow: 0 0 0 0 rgba(93, 110, 97, 1);
    transform: scale(1);
    animation: pulse-dark 2s infinite;
    text-decoration: none;

}

.Journey-Button:hover {
    color: var(--white);
    text-decoration: none;
    animation: none;
}
