.Leaderboard-Header {
    
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: -40px;
    color: #475149; 
    font-size: 30px;
}

.Leaderboard-Underline {
    width: 70px;
    height: 3px;
    background-color: var(--primary);
    justify-content: center;
    text-align: center;
    margin-left: 50%;
    left: -35px;
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    position: relative;
    margin-left: -10%;
    margin-right: -10%;
  }
  
  .footer-item {
    /*border: 1px solid #fff;
    background-color: #D6E9FE;*/
    height: 200px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    
    width: 200px;
  }

  .Leaderboard-SubHeader {
    width: 350px;
    height: 30px;
    background: var(--primary--dark);
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    color: var(--white); 
    margin-bottom: 20px;
    white-space:nowrap;
    text-align: center;
    display: block;
    line-height: 30px;
}

.TempLeft {
    font-size: 16px;
    line-height: 40px;
    width: 30px;
    margin: 0px;

    position: relative;
    left: 15px;
    
    font-family: 'Inter', sans-serif;
    color: var(--primary);
    font-weight: 600;
    
}

.TempCenter {
    font-size: 16px;
    line-height: 40px;
    width: 350px;
    display: inline-block;

    position: relative;
    transform: translateY(-100%);
    font-family: 'Inter', sans-serif;
    color: #475149;

    text-align: center;
    justify-self: center;
}

.TempRight {
    font-size: 16px;
    line-height: 40px;
    width: 350px;
    display: inline-block;
    right: 15px;

    position: relative;
    transform: translateY(-200%);
    font-family: 'Inter', sans-serif;
    color: var(--primary);
    font-weight: 600;

    text-align: right;
    justify-self: right;
}

.TempCard-container1 {
    width: 350px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    color: #475149; 
    margin-bottom: 10px;
    font-size: 0px;
}

.TempCard-container {
    width: 350px;
    height: 40px;
    background: var(--primary--dim);
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    color: #475149; 
    margin-bottom: 10px;
    font-size: 0px;
  }