.App-container {
  max-width: 960px;
  padding: var(--m) var(--m);
  margin: auto;
  min-height: 90vh;
}

.App-entryContainer{
  
  border-top-left-radius: var(--m);
  border-top-right-radius: var(--m);
  margin-top: var(--l);
  background-color: var(--primary--dim); 
}

.all {
  margin-bottom: 60px;
}

.App-entryTitle{
  background-color: var(--primary);
  color: var(--white);
  border-top-left-radius: var(--m);
  border-top-right-radius: var(--m);
  border-radius: var(--m);
  font-size: 30px;
  padding: var(--s);
  padding-left: var(--l);
  margin-bottom: 7px;
  
}

.App-Graph{
  margin-bottom: 30px;
}

.App-Stats{
  text-align:justify;
  text-align-last:center;
}

.App-Statsspacing{
  padding-right: 10px;
  padding-left: 10px;
}

